aside > .hexagon .form {
	width: 80%;
	position: relative;
}
.mktoFormRow {
	width: 100%;
}
.mktoFormRow:first-of-type {
	display: none !important;
}
/*.mktoFormRow:last-of-type {
	height: 50px;
}*/
.mktoForm .mktoFormRow .mktoFieldDescriptor {
	margin-top: 20px !important;
	margin-bottom: 0 !important;
}
.mktoForm .mktoFormRow:nth-of-type(2) .mktoFieldDescriptor {
	margin-top: 0 !important;
}
.mktoForm .mktoFormRow .mktoRequiredField {
	display: flex;
	align-items: center;
}
.mktoForm .mktoFormRow .mktoFieldWrap > label {
	font-size: 0;
	width: 11px !important;
	padding-top: 11px;
}
.mktoForm .mktoFormRow .mktoFieldWrap > label > .mktoAsterix {
	font-size: 26px;
	color: #fff;
	font-weight: 400; 
}
#mktoForm_1416 .mktoFormRow .mktoFieldDescriptor input[type="tel"], #mktoForm_1416 .mktoFormRow .mktoFieldDescriptor input[type="email"], #mktoForm_1416 .mktoFormRow .mktoFieldDescriptor input[type="text"], #mktoForm_1416 .mktoFormRow .mktoFieldDescriptor select {
	height: 40px !important;
	padding-left: 1rem;
	margin-left: .5rem;
}
#mktoForm_1416 .mktoFormRow .mktoFieldDescriptor select {
	padding-left: 0.7rem;
	border-radius: 2px;
}
 #mktoForm_1416 .mktoFormRow textarea {
	padding-left: 1rem;
	border-radius: 2px;
	height: 90px;
}
.mktoForm > .mktoFormRow > .mktoFormCol:nth-of-type(2) {
	display: none;
}
.mktoForm textarea.mktoField {
	margin-left: .5rem !important;
}
label[for="Consent_to_Privacy_Policy__c"] {
	display: none;		
}
.mktoForm .mktoRadioList > label, .mktoForm .mktoCheckboxList > label {
	color: rgba(165, 196, 252, 1);
	margin-left: 1rem !important;
	font-family: lato;
	padding-bottom: 0;
}
.mktoForm .mktoRadioList > label a, .mktoForm .mktoCheckboxList > label a {
	color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-family: lato;
}
.form #mktoForm_1416 .mktoButtonRow {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
}
.mktoButtonRow > .mktoButtonWrap.mktoSimple {
    display: flex;
    justify-content: center;
    margin-left: 0 !important;
    padding-top: 15px;
    height: 0;
}
.mktoForm .mktoCheckboxList label::before, .mktoForm .mktoRadioList label::before {
	width: 25px !important;
    height: 25px !important;
    border: none !important;
    background-color: rgba(255, 255, 255, 1) !important;
    border-radius: 2px !important;
    cursor: pointer;
}
.mktoForm .mktoCheckboxList input:checked + label::before, .mktoForm .mktoRadioList input:checked + label::before {
	content: "✔";
    color: rgba(66, 110, 215, 1);
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.mktoForm .mktoButtonRow .mktoButtonWrap.mktoSimple .mktoButton {
    background: none;
    border: none;
    height: 40px;
    width: 139px;
	background-color: rgba(35, 35, 35, 1);
    border-radius: 2px;
    padding: 0;
}
.mktoForm .mktoButtonRow .mktoButtonWrap.mktoSimple .mktoButton:hover {
	background-color: rgba(85, 85, 85, 1);
	border: none;
}
.mktoForm .mktoButtonRow .mktoButtonWrap.mktoSimple .mktoButton:active {
	background-color: rgba(0, 0, 0, .5);
	background-image: none;
	outline: none;
}
aside form::-webkit-scrollbar {
    width: 4px;

}
aside form::-webkit-scrollbar-thumb {
    background: rgba(133, 159, 229, 1);
}
aside form input {
    font-family: lato;
    height: 2.7rem;
    width: 85%;
    border: none;
    font-size: 1.3rem;
    padding-left: 2%;
    margin: 0.7rem auto;
    border-radius: 2px;
}
aside form input[type="submit"] {
    width: 30%;
    font-size: 15px;
    background: #000;
    color: #fff;
}
  aside form input::placeholder, aside form textarea::placeholder {
    color: rgba(0, 0, 0, 1);
    font-family: lato;
  }
  aside form input:focus::-webkit-input-placeholder, aside form textarea:focus::-webkit-input-placeholder {
    opacity: 0;
  }